**/target/
DS_Store
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
__pycache__/
*.so

docs/plans/

.venv/

docs/plans/


node_modules/

.wrangler/

id_ssh*

playground/codapi
playground/codapi-cli


# benchmark results
results/