server {
    listen 80;
    server_name {{ codapi_domain }};

    # CORS
    add_header Access-Control-Allow-Origin  "{{ codapi_cors_origin }}" always;
    add_header Access-Control-Allow-Methods "POST, OPTIONS"             always;
    add_header Access-Control-Allow-Headers "Content-Type"              always;

    if ($request_method = OPTIONS) {
        return 204;
    }

    location / {
        proxy_hide_header Access-Control-Allow-Origin;
        proxy_hide_header Access-Control-Allow-Methods;
        proxy_hide_header Access-Control-Allow-Headers;

        proxy_pass http://127.0.0.1:{{ codapi_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_read_timeout 10s;
        proxy_send_timeout 10s;
    }
}
